
                                </div>
                                <div class="extended-description">
                                    <h3>Doplňkové parametry</h3>
                                    <table class="detail-parameters">
                                        <tbody>
                                            <tr>
                                                <th> <span class="row-header-label"> Kategorie<span
                                                            class="row-header-label-colon">:</span> </span> </th>
                                                <td> <a href="/low-carb-3/">Low sugar proteinové</a> </td>
                                            </tr>
                                            <tr>
                                                <th> <span class="row-header-label"> Značka<span
                                                            class="row-header-label-colon">:</span> </span> </th>
                                                <td> Passion Nutrition </td>
                                            </tr>
                                            <tr>
                                                <th> <span class="row-header-label"> Dieta<span
                                                            class="row-header-label-colon">:</span> </span> </th>
                                                <td> Low Carb (Nízkosacharidová) </td>
                                            </tr>
                                            <tr>
                                                <th> <span class="row-header-label"> Příchuť<span
                                                            class="row-header-label-colon">:</span> </span> </th>
                                                <td> čokoláda </td>
                                            </tr>
                                            <tr>
                                                <th> <span class="row-header-label"> Účel<span
                                                            class="row-header-label-colon">:</span> </span> </th>
                                                <td> Svalový růst a regenerace, Trávení </td>
                                            </tr>
                                            <tr>
                                                <th> <span class="row-header-label"> Vlastnosti<span
                                                            class="row-header-label-colon">:</span> </span> </th>
                                                <td> Bez umělých sladidel, S vysokým obsahem bílkovin, Slazení stévií,
                                                    Ruční výroba </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div id="ratingTab" class="tab-pane fade" role="tabpanel">
                            <p data-testid="textCommentNotice">Buďte první, kdo napíše příspěvek k této položce. </p>
                            <div id="ratingWrapper" class="rate-wrapper unveil-wrapper" data-parent-tab="ratingTab">
                                <div class="rate-wrap row">
                                    <div class="rate-average-wrap col-xs-12 col-sm-6">
                                        <div class="add-comment rate-form-trigger" data-unveil="rate-form"
                                            aria-expanded="false" aria-controls="rate-form" role="button"> <span
                                                class="link-like rating-icon" data-testid="buttonAddRating">Přidat
                                                hodnocení</span> </div>
                                    </div>
                                </div>
                                <div id="rate-form" class="vote-form js-hidden">
                                    <form action="/action/ProductDetail/RateProduct/" method="post" id="formRating">
                                        <input type="hidden" name="productId" value="85982"> <input type="hidden"
                                            name="score" value="5">
                                        <div class="row">
                                            <div class="form-group js-validated-element-wrapper col-xs-12 col-sm-6">
                                                <input type="text" name="fullName" value=""
                                                    class="form-control col-xs-12" placeholder="Jméno"
                                                    data-testid="inputFullName"> <span class="no-display">Nevyplňujte
                                                    toto pole:</span> <input type="text" name="surname" value=""
                                                    class="no-display"> </div>
                                            <div class="form-group js-validated-element-wrapper col-xs-12 col-sm-6">
                                                <input type="email" name="email" value="" class="form-control col-xs-12"
                                                    placeholder="E-mail" data-testid="inputEmail"> </div>
                                            <div class="col-xs-12">
                                                <div class="form-group js-validated-element-wrapper"> <textarea
                                                        name="description" class="form-control" rows="7"
                                                        placeholder="Jak jste s produktem spokojeni?"
                                                        data-testid="inputRatingDescription"></textarea> </div>
                                                <div class="form-group">
                                                    <div class="star-wrap stars"> <span class="star star-on"
                                                            data-score="1"></span> <span class="star star-on"
                                                            data-score="2"></span> <span class="star star-on"
                                                            data-score="3"></span> <span class="star star-on"
                                                            data-score="4"></span> <span class="star star-on current"
                                                            data-score="5"></span> </div>
                                                </div>
                                                <div
                                                    class="form-group js-validated-element-wrapper consents consents-first">
                                                    <input type="hidden" name="consents[]" id="ratingConsents15"
                                                        value="15" data-special-message="validatorConsent"> <label
                                                        for="ratingConsents15" class="whole-width"> Vložením hodnocení
                                                        souhlasíte s <a
                                                            href="https://www.gymtime.cz/podminky-ochrany-osobnich-udaju/"
                                                            target="_blank" rel="noopener noreferrer">podmínkami ochrany
                                                            osobních údajů</a> </label> </div>
                                                <div class="form-group"> <input type="submit" value="Odeslat hodnocení"
                                                        class="btn btn-sm btn-primary" data-testid="buttonSendRating">
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div id="productDiscussion" class="tab-pane fade" role="tabpanel" data-testid="areaDiscussion">
                            <div id="discussionWrapper" class="discussion-wrapper unveil-wrapper"
                                data-parent-tab="productDiscussion" data-testid="wrapperDiscussion">
                                <div class="discussionContainer js-discussion-container">
                                    <p data-testid="textCommentNotice">Buďte první, kdo napíše příspěvek k této položce.
                                    </p>
                                    <div class="add-comment discussion-form-trigger" data-unveil="discussion-form"
                                        aria-expanded="false" aria-controls="discussion-form" role="button"> <span
                                            class="link-like comment-icon" data-testid="buttonAddComment">Přidat
                                            komentář</span> </div>
                                    <div id="discussion-form" class="discussion-form vote-form js-hidden">
                                        <form action="/action/ProductDiscussion/addPost/" method="post"
                                            id="formDiscussion" data-testid="formDiscussion"> <input type="hidden"
                                                name="formId" value="9"> <input type="hidden" name="discussionEntityId"
                                                value="85982">
                                            <div class="row">
                                                <div class="form-group col-xs-12 col-sm-6"> <input type="text"
                                                        name="fullName" value="" id="fullName" class="form-control"
                                                        placeholder="Jméno" data-testid="inputUserName"> <span
                                                        class="no-display">Nevyplňujte toto pole:</span> <input
                                                        type="text" name="surname" value="" class="no-display"> </div>
                                                <div
                                                    class="form-group js-validated-element-wrapper no-label col-xs-12 col-sm-6">
                                                    <input type="email" name="email" value="" id="email"
                                                        class="form-control js-validate-required" placeholder="E-mail"
                                                        data-testid="inputEmail"> </div>
                                                <div class="col-xs-12">
                                                    <div class="form-group"> <input type="text" name="title" id="title"
                                                            class="form-control" placeholder="Název"
                                                            data-testid="inputTitle"> </div>
                                                    <div class="form-group no-label js-validated-element-wrapper">
                                                        <textarea name="message" id="message"
                                                            class="form-control js-validate-required" rows="7"
                                                            placeholder="Komentář"
                                                            data-testid="inputMessage"></textarea> </div>
                                                    <div
                                                        class="form-group js-validated-element-wrapper consents consents-first">
                                                        <input type="hidden" name="consents[]" id="discussionConsents21"
                                                            value="21" data-special-message="validatorConsent"> <label
                                                            for="discussionConsents21" class="whole-width"> Vložením
                                                            komentáře souhlasíte s <a
                                                                href="https://www.gymtime.cz/podminky-ochrany-osobnich-udaju/"
                                                                target="_blank" rel="noopener noreferrer">podmínkami
                                                                ochrany osobních údajů</a> </label> </div>
                                                    <div class="form-group"> <input type="submit"
                                                            value="Odeslat komentář" class="btn btn-sm btn-primary"
                                                            data-testid="buttonSendComment"> </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="doprava" class="tab-pane fade" role="tabpanel">
                            <div itemprop="about">
                                <h2><span style="font-size: 12pt;">Zakoupené zboží se vám vždy snažíme expedovat a dodat
                                        co nejrychleji. Připravili jsme více možností platby a dopravy, aby si každý
                                        mohl vybrat podle svých preferencí.&nbsp;<br><br><br><span
                                            style="font-size: 14pt;"><strong>Způsob dopravy:</strong></span></span></h2>
                                <p><span style="font-size: 12pt;"><strong>Doručení na adresu<br></strong>Zboží zasíláme
                                        přes přepravní společnosti Paketa (Zásilkovna) nebo DPD, kteří doručí zboží až
                                        přímo k vašim dveřím. Cena dopravného je <strong>99 Kč</strong> za odeslanou
                                        zásilku. Při nákupu <strong>nad 2 000 Kč</strong> v našem obchodě získáte
                                        <strong>DOPRAVU ZDARMA.<br></strong></span></p>
                                <p><span style="font-size: 12pt;"><strong>Doručení na pobočku/výdejní
                                            místo</strong><br>Objednané zboží necháte zaslat na vybrané výdejní místo.
                                        Pobočku Pakety (Zásilkovny) nebo DPD můžete zvolit vždy přímo v košíku. Cena
                                        služby je <strong>79&nbsp;Kč</strong>. Zboží je doručeno&nbsp;do 2 pracovních
                                        dnů, kde je zásilka uschována 7 kalendářních dní. Po domluvě s dopravcem může
                                        být tato lhůta prodloužena. Také při této dopravě můžete využít <strong>DOPRAVU
                                            ZDARMA</strong> při nákupu <strong>nad 2 000 Kč.</strong></span></p>
                                <p><span style="font-size: 12pt;"><strong>Vyzvednutí v Pulse Fitness - Horní Počernice
                                            Praha<br></strong>Přijďte si vyzvednout svoji&nbsp; zásilku přímo k nám do
                                        <strong><a href="https://pulsepocernice.cz/">Pulse Fitness</a></strong> Horní
                                        počernice! Kromě vyzvednutí zásilky si můžete zatrénovat v našem fitness cetru s
                                        posilovací zónou, funkční zónou i kardiem, nabízíme širokou nabídku skupinových
                                        lekcí a dalších zajímavých akcí, které byste neměli propásnout! Navíc u nás
                                        můžete vybrané suplementy ochutnat a vyzkoušet přímo při tréninku, vyzkoušet si
                                        naše oblečení a mnoho dalšího.&nbsp;</span></p>
                                <h2><span style="font-size: 12pt;"><strong><br></strong><strong><span
                                                style="font-size: 14pt;">Způsob platby:</span></strong><br></span></h2>
                                <p><span style="font-size: 12pt;"><strong>Převodem<br></strong>Po vytvoření objednávky
                                        vám na email přijdou informace s číslem bankovního účtu a variabilním symbolem.
                                        Částku za objednávku nám zasíláte předem na &nbsp;účet vedený u FIO banky.
                                        Prosíme, abyste při platbě zkontrolovali <strong>správný variabilní
                                            symbol</strong> pro správné spárování platby s vaší objednávkou.
                                        <strong>Pohodlně a jednoduše</strong> - součástí objednávky je i <strong>QR
                                            kód</strong>, který obsahuje všechny potřebné údaje k platbě. Pokud se Vám
                                        nechce vyplňovat údaje k platbě, je pro Vás QR kód ideálním řešením.</span></p>
                                <p><span style="font-size: 12pt;"><strong>Zrychlený bankovní převod<br></strong>Nebaví
                                        Vás se přihlašovat do internetového bankovnictví a vyplňovat variabilní symbol
                                        objednávky a číslo bankovního účtu? Nevadí i pro takové z Vás máme řešení.
                                        Zvolte při způsobu platby zrychlený bankovní převod, který zprostředkovává
                                        společnost <strong>Comgate</strong>, vyberte si Vaši banku a jednoduše přímo
                                        zaplaťte ze svého internetového bankovnictví. Variabilní symbol a číslo účtu
                                        máte již předvyplněné.</span><span style="font-size: 12pt;"></span></p>
                                <p><span style="font-size: 12pt;"><strong>Platba Kartou<br></strong>Zaplaťte Vaši
                                        objednávku jednoduše svou platební kartou Mastercard, nebo Visa. Platby kartou a
                                        jejich bezpečnost nám zprostředkovává společnost
                                        <strong>Comgate</strong>.</span><span style="font-size: 12pt;"><br></span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>