<main id="content" class="content narrow">
    <div class="p-detail" itemscope="" itemtype="https://schema.org/Product">
        {{!-- {{>main-product-top--upperpart}} --}}
        <div class="shp-tabs-wrapper p-detail-tabs-wrapper">
            <div class="row">
                <div class="col-sm-12 shp-tabs-row responsive-nav">
                    <div class="shp-tabs-holder">
                        <ul id="p-detail-tabs" class="shp-tabs p-detail-tabs visible-links" role="tablist">
                            <li class="shp-tab active" data-testid="tabDescription" data-width="79"> <a
                                    href="#description" class="shp-tab-link" role="tab" data-toggle="tab">Popis</a>
                            </li>
                            <li class="shp-tab" data-testid="tabRating" data-width="116"> <a href="#ratingTab"
                                    class="shp-tab-link" role="tab" data-toggle="tab">Hodnocení</a> </li>
                            <li class="shp-tab" data-testid="tabDiscussion" data-width="93"> <a
                                    href="#productDiscussion" class="shp-tab-link" role="tab"
                                    data-toggle="tab">Diskuze</a> </li>
                            <li class="shp-tab" data-width="164"><a href="#doprava" class="shp-tab-link" role="tab"
                                    data-toggle="tab">Doprava a platba</a></li>
                        </ul>
                    </div> <button class="navigation-btn" style="display: none;">☰</button>
                    <ul class="hidden-links hidden"></ul>
                </div>
                <div class="col-sm-12 ">
                    <div id="tab-content" class="tab-content">
                        <div id="description" class="tab-pane fade in active" role="tabpanel">
                            <div class="description-inner">
                                <div class="basic-description">