<meta itemprop="name" content="Passion Low sugar cookies Čokoládové kóma 70g">
        <meta itemprop="category"
            content="Úvodní stránka &gt; Passion &gt; Cookies &gt; Low sugar proteinové &gt; Passion Low sugar cookies Čokoládové kóma 70g">
        <meta itemprop="url" content="https://www.gymtime.cz/passion-low-sugar-cookies-cokoladove-koma-70g/">
        <meta itemprop="image"
            content="https://cdn.myshoptet.com/usr/www.gymtime.cz/user/shop/big/85982-1_choco-coma.png?66b3ef04">
        <meta itemprop="description"
            content="Čokoládová specialita Passion Cookie Čokoládové kóma. Bezlepková, měkoučká cookieska, s nízkým obsahem cukru.">
        <span class="js-hidden" itemprop="manufacturer" itemscope="" itemtype="https://schema.org/Organization">
            <meta itemprop="name" content="Passion nutrition">
        </span> <span class="js-hidden" itemprop="brand" itemscope="" itemtype="https://schema.org/Brand">
            <meta itemprop="name" content="Passion nutrition">
        </span>
        <meta itemprop="gtin13" content="08594222600053">
        <div class="p-detail-inner">
            <div class="p-detail-inner-header">
                <h1> Passion Low sugar cookies Čokoládové kóma 70g </h1>
            </div>
            <form action="/action/Cart/addCartItem/" method="post" id="product-detail-form"
                class="pr-action csrf-enabled" data-testid="formProduct">
                <meta itemprop="productID" content="85982">
                <meta itemprop="identifier" content="ae1117c6-1e80-11ef-ac02-32cc95c76f48">
                <meta itemprop="sku" content="P7374"><span itemprop="offers" itemscope=""
                    itemtype="https://schema.org/Offer">
                    <link itemprop="availability" href="https://schema.org/InStock">
                    <meta itemprop="url"
                        content="https://www.gymtime.cz/passion-low-sugar-cookies-cokoladove-koma-70g/">
                    <meta itemprop="price" content="55.00">
                    <meta itemprop="priceCurrency" content="CZK">
                    <link itemprop="itemCondition" href="https://schema.org/NewCondition">
                </span><input type="hidden" name="productId" value="85982"><input type="hidden" name="priceId"
                    value="149834"><input type="hidden" name="language" value="cs">
                <div class="row product-top">
                    <div class="col-xs-12">
                        <div class="p-detail-info">
                            <div class="flags flags-default flags-inline"> <span
                                    class="flag flag-quantity-discount js-quantity-discounts__flag"
                                    style="background-color:#12C4EC;"> Více za méně </span> </div>
                            <div class="stars-wrapper"> <span class="stars star-list"> <a
                                        class="star star-off show-tooltip show-ratings" title="" href="#ratingTab"
                                        data-toggle="tab" data-external="1" data-force-scroll="1"
                                        data-original-title="    Hodnocení:            Neohodnoceno    "></a> <a
                                        class="star star-off show-tooltip show-ratings" title="" href="#ratingTab"
                                        data-toggle="tab" data-external="1" data-force-scroll="1"
                                        data-original-title="    Hodnocení:            Neohodnoceno    "></a> <a
                                        class="star star-off show-tooltip show-ratings" title="" href="#ratingTab"
                                        data-toggle="tab" data-external="1" data-force-scroll="1"
                                        data-original-title="    Hodnocení:            Neohodnoceno    "></a> <a
                                        class="star star-off show-tooltip show-ratings" title="" href="#ratingTab"
                                        data-toggle="tab" data-external="1" data-force-scroll="1"
                                        data-original-title="    Hodnocení:            Neohodnoceno    "></a> <a
                                        class="star star-off show-tooltip show-ratings" title="" href="#ratingTab"
                                        data-toggle="tab" data-external="1" data-force-scroll="1"
                                        data-original-title="    Hodnocení:            Neohodnoceno    "></a> </span> <a
                                    class="stars-label" href="#ratingTab" data-toggle="tab" data-external="1"
                                    data-force-scroll="1"> Neohodnoceno </a> </div>
                            <div>Značka: <a href="/znacka/passion/" data-testid="productCardBrandName">Passion
                                    nutrition</a></div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-lg-6 p-image-wrapper">
                        <div class="p-image" style="" data-testid="mainImage"> <a
                                href="https://cdn.myshoptet.com/usr/www.gymtime.cz/user/shop/big/85982-1_choco-coma.png?66b3ef04"
                                class="p-main-image cbox"><img
                                    src="https://cdn.myshoptet.com/usr/www.gymtime.cz/user/shop/big/85982-1_choco-coma.png?66b3ef04"
                                    alt="CHOCO COMA" width="1024" height="1024" fetchpriority="high" loading="eager">
                            </a>
                            <div class="flags flags-default flags-inline"> <span
                                    class="flag flag-quantity-discount js-quantity-discounts__flag"
                                    style="background-color:#12C4EC;"> Více za méně </span> </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-lg-6 p-info-wrapper">
                        <div class="p-final-price-wrapper"> <strong class="price-final" data-testid="productCardPrice">
                                <span class="price-final-holder"> 55 Kč </span> </strong> <span class="price-measure">
                            </span> </div>
                        <div class="availability-value" title="Dostupnost"> <span class="availability-label"
                                style="color: #009901"> Skladem </span> </div>
                        <div class="c-product-interconnection-detail-params is-template--Classic"><span
                                class="c-product-interconnection-detail-params__type">Varianty</span>
                            <div class="c-product-interconnection-detail-params__products is-type--photos"><a
                                    class="is-current"
                                    href="https://www.gymtime.cz/passion-low-sugar-cookies-cokoladove-koma-70g/"> <span
                                        class="item-type-img"
                                        style="background-image: url(&quot;https\:\/\/cdn-api\.myshoptet\.com\/usr\/www\.gymtime\.cz\/user\/shop\/category\/85982-1_choco-coma\.png\?66b3ef04&quot;)"></span><span
                                        class="item-label">Čokoládové kóma</span></a><a class=""
                                    href="https://www.gymtime.cz/passion-low-sugar-cookies-arasidova-s-cokoladou-70g/">
                                    <span class="item-type-img"
                                        style="background-image: url(&quot;https\:\/\/cdn-api\.myshoptet\.com\/usr\/www\.gymtime\.cz\/user\/shop\/category\/86442_arasidova-s-cokoladou\.png\?66b54073&quot;)"></span><span
                                        class="item-label">Arašídová s čokoládou</span></a><a class=""
                                    href="https://www.gymtime.cz/passion-low-sugar-cookies-vanilkovy-rohlicek-70g/">
                                    <span class="item-type-img"
                                        style="background-image: url(&quot;https\:\/\/cdn-api\.myshoptet\.com\/usr\/www\.gymtime\.cz\/user\/shop\/category\/86421-1_vanilkovy-rohlicek\.png\?66b3ef05&quot;)"></span><span
                                        class="item-label">Vanilkový rohlíček</span></a></div>
                        </div>
                        <table class="detail-parameters">
                            <tbody> </tbody>
                        </table>
                        <div class="quantity-discounts js-quantity-discounts">
                            <div class="quantity-discounts__headline">Množstevní sleva</div>
                            <div class="quantity-discounts__table" data-orig-price="55">
                                <div class="quantity-discounts__item js-quantity-discounts__item quantity-discounts__item--highlighted"
                                    data-amount="1" data-price-ratio="1">
                                    <div class="quantity-discounts__title">1 - 4 ks</div>
                                    <div class="quantity-discounts__price-wrapper"> <span
                                            class="quantity-discounts__price">55 Kč</span> / ks </div>
                                </div>
                                <div class="quantity-discounts__item js-quantity-discounts__item" data-amount="5"
                                    data-price-ratio="0.91">
                                    <div class="quantity-discounts__title"> 5 - 9 ks = sleva 9&nbsp;% </div>
                                    <div class="quantity-discounts__price-wrapper"> <span
                                            class="quantity-discounts__price">50,05 Kč</span> / ks </div>
                                </div>
                                <div class="quantity-discounts__item js-quantity-discounts__item" data-amount="10"
                                    data-price-ratio="0.88">
                                    <div class="quantity-discounts__title"> 10 a více ks = sleva 12&nbsp;% </div>
                                    <div class="quantity-discounts__price-wrapper"> <span
                                            class="quantity-discounts__price">48,40 Kč</span> / ks </div>
                                </div>
                            </div>
                            <div class="quantity-discounts__save"> Ušetříte <strong
                                    class="quantity-discounts__saved-amount js-quantity-discounts__saved-amount">0
                                    Kč</strong> </div>
                        </div>
                        <div class="add-to-cart" data-testid="divAddToCart"> <span class="quantity"> <span
                                    class="increase-tooltip js-increase-tooltip" data-trigger="manual"
                                    data-container="body" data-original-title="Není možné zakoupit více než 9999 ks."
                                    aria-hidden="true" role="tooltip" data-testid="tooltip"> </span> <span
                                    class="decrease-tooltip js-decrease-tooltip" data-trigger="manual"
                                    data-container="body"
                                    data-original-title="Minimální množství, které lze zakoupit, je 1 ks."
                                    aria-hidden="true" role="tooltip" data-testid="tooltip"> </span> <label> <input
                                        type="number" name="amount" value="1" class="amount" autocomplete="off"
                                        data-decimals="0" step="1" min="1" max="9999" aria-label="Množství"
                                        data-testid="cartAmount"> </label> <button class="increase" type="button"
                                    aria-label="Zvýšit množství o 1" data-testid="increase"> <span
                                        class="increase__sign">+</span> </button> <button class="decrease" type="button"
                                    aria-label="Snížit množství o 1" data-testid="decrease"> <span
                                        class="decrease__sign">−</span> </button> </span> <button type="submit"
                                class="btn btn-lg btn-conversion add-to-cart-button"
                                data-testid="buttonAddToCart">Přidat do košíku</button> </div>
                        <div class="p-short-description" data-testid="productCardShortDescr">
                            <p style="text-align: left;">Čokoládová specialita <strong>Passion Cookie Čokoládové
                                    kóma</strong>. <strong>Bezlepková</strong>, <strong>měkoučká</strong> cookieska, s
                                <strong>nízkým obsahem cukru</strong>.</p>
                        </div>
                        <p data-testid="productCardDescr"> <a href="#description"
                                class="chevron-after chevron-down-after" data-toggle="tab" data-external="1"
                                data-force-scroll="true">Detailní informace</a> </p>
                        <div class="social-buttons-wrapper">
                            <div class="link-icons watchdog-active" data-testid="productDetailActionIcons"> <a href="#"
                                    class="link-icon print" title="Tisknout produkt"><span>Tisk</span></a> <a
                                    href="/passion-low-sugar-cookies-cokoladove-koma-70g:dotaz/" class="link-icon chat"
                                    title="Mluvit s prodejcem" rel="nofollow"><span>Zeptat se</span></a> <a
                                    href="/passion-low-sugar-cookies-cokoladove-koma-70g:hlidat-cenu/"
                                    class="link-icon watchdog" title="Hlídat cenu"
                                    rel="nofollow"><span>Hlídat</span></a> <a href="#"
                                    class="link-icon share js-share-buttons-trigger"
                                    title="Sdílet produkt"><span>Sdílet</span></a> </div>
                            <div class="social-buttons no-display">
                                <div class="twitter">
                                    <script>                                        window.twttr = (function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], t = window.twttr || {}; if (d.getElementById(id)) return t; js = d.createElement(s); js.id = id; js.src = "https://platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs); t._e = []; t.ready = function (f) { t._e.push(f); }; return t; }(document, "script", "twitter-wjs"));                                    </script>
                                    <iframe id="twitter-widget-0" scrolling="no" frameborder="0"
                                        allowtransparency="true" allowfullscreen="true"
                                        class="twitter-share-button twitter-share-button-rendered twitter-tweet-button"
                                        style="position: static; visibility: visible; width: 65px; height: 20px;"
                                        title="X Post Button"
                                        src="https://platform.twitter.com/widgets/tweet_button.2f70fb173b9000da126c79afe2098f02.cs.html#dnt=false&amp;id=twitter-widget-0&amp;lang=cs&amp;original_referer=https%3A%2F%2Fwww.gymtime.cz%2Fpassion-low-sugar-cookies-cokoladove-koma-70g%2F&amp;size=m&amp;text=Passion%20Low%20sugar%20cookies%20%C4%8Cokol%C3%A1dov%C3%A9%20k%C3%B3ma%2070g%20-%20Gymtime.cz%20%7C%20V%C5%A1e%20pro%20fitness%20a%20zdrav%C3%AD&amp;time=1744229866676&amp;type=share&amp;url=https%3A%2F%2Fwww.gymtime.cz%2Fpassion-low-sugar-cookies-cokoladove-koma-70g%2F"
                                        data-url="https://www.gymtime.cz/passion-low-sugar-cookies-cokoladove-koma-70g/"></iframe>
                                </div>
                                <div class="facebook">
                                    <div data-layout="button_count" class="fb-like fb_iframe_widget" data-action="like"
                                        data-show-faces="false" data-share="false" data-width="285" data-height="26"
                                        fb-xfbml-state="rendered"
                                        fb-iframe-plugin-query="action=like&amp;app_id=&amp;container_width=0&amp;height=26&amp;href=https%3A%2F%2Fwww.gymtime.cz%2Fpassion-low-sugar-cookies-cokoladove-koma-70g%2F&amp;layout=button_count&amp;locale=cs_CZ&amp;sdk=joey&amp;share=false&amp;show_faces=false&amp;width=285">
                                        <span
                                            style="vertical-align: top; width: 0px; height: 0px; overflow: hidden;"><iframe
                                                name="f6d86fd90c5059114" width="285px" height="26px"
                                                data-testid="fb:like Facebook Social Plugin"
                                                title="fb:like Facebook Social Plugin" frameborder="0"
                                                allowtransparency="true" allowfullscreen="true" scrolling="no"
                                                allow="encrypted-media"
                                                src="https://web.facebook.com/v19.0/plugins/like.php?action=like&amp;app_id=&amp;channel=https%3A%2F%2Fstaticxx.facebook.com%2Fx%2Fconnect%2Fxd_arbiter%2F%3Fversion%3D46%23cb%3Dfdc1f7b03d3761fd1%26domain%3Dwww.gymtime.cz%26is_canvas%3Dfalse%26origin%3Dhttps%253A%252F%252Fwww.gymtime.cz%252Ff3ef93fb5a48258a6%26relation%3Dparent.parent&amp;container_width=0&amp;height=26&amp;href=https%3A%2F%2Fwww.gymtime.cz%2Fpassion-low-sugar-cookies-cokoladove-koma-70g%2F&amp;layout=button_count&amp;locale=cs_CZ&amp;sdk=joey&amp;share=false&amp;show_faces=false&amp;width=285"
                                                style="border: none; visibility: visible; width: 0px; height: 0px;"></iframe></span>
                                    </div>
                                </div>
                                <div class="close-wrapper"> <a href="#" class="close-after js-share-buttons-trigger"
                                        title="Sdílet produkt">Zavřít</a> </div>
                            </div>
                        </div>
                        <div class="p-detail-inner-header">
                            <h1> Passion Low sugar cookies Čokoládové kóma 70g </h1>
                        </div>
                        <div class="p-detail-info">
                            <div class="flags flags-default flags-inline"> <span
                                    class="flag flag-quantity-discount js-quantity-discounts__flag"
                                    style="background-color:#12C4EC;"> Více za méně </span> </div>
                            <div class="stars-wrapper"> <span class="stars star-list"> <a
                                        class="star star-off show-tooltip show-ratings" title="" href="#ratingTab"
                                        data-toggle="tab" data-external="1" data-force-scroll="1"
                                        data-original-title="    Hodnocení:            Neohodnoceno    "></a> <a
                                        class="star star-off show-tooltip show-ratings" title="" href="#ratingTab"
                                        data-toggle="tab" data-external="1" data-force-scroll="1"
                                        data-original-title="    Hodnocení:            Neohodnoceno    "></a> <a
                                        class="star star-off show-tooltip show-ratings" title="" href="#ratingTab"
                                        data-toggle="tab" data-external="1" data-force-scroll="1"
                                        data-original-title="    Hodnocení:            Neohodnoceno    "></a> <a
                                        class="star star-off show-tooltip show-ratings" title="" href="#ratingTab"
                                        data-toggle="tab" data-external="1" data-force-scroll="1"
                                        data-original-title="    Hodnocení:            Neohodnoceno    "></a> <a
                                        class="star star-off show-tooltip show-ratings" title="" href="#ratingTab"
                                        data-toggle="tab" data-external="1" data-force-scroll="1"
                                        data-original-title="    Hodnocení:            Neohodnoceno    "></a> </span> <a
                                    class="stars-label" href="#ratingTab" data-toggle="tab" data-external="1"
                                    data-force-scroll="1"> Neohodnoceno </a> </div>
                            <div>Značka: <a href="/znacka/passion/" data-testid="productCardBrandName">Passion
                                    nutrition</a></div>
                        </div>
                    </div>
                </div> <input type="hidden" name="__csrf__" value="csrf_aYuu2Cnk3c8e63643e1d951e">
            </form>
        </div>
        <h2 class="products-related-header">Související produkty</h2>
        <div class="products products-block products-related products-additional p-switchable">
            <div class="product col-sm-6 col-md-12 col-lg-6 active related-sm-screen-show">
                <div class="p" data-micro="product" data-micro-product-id="85901"
                    data-micro-identifier="0fee2cc2-1e68-11ef-9078-8652e52c6cd1" data-testid="productItem"> <a
                        href="/passion-oat-cookie-skoricova-70g/" class="image"> <img
                            src="https://cdn.myshoptet.com/usr/www.gymtime.cz/user/shop/detail/85901-1_85596-passion-oat-cookie-skoricova-70g.jpg?6674a6a6"
                            alt="85596 passion oat cookie skoricova 70g"
                            data-micro-image="https://cdn.myshoptet.com/usr/www.gymtime.cz/user/shop/big/85901-1_85596-passion-oat-cookie-skoricova-70g.jpg?6674a6a6"
                            width="423" height="423"
                            data-src="https://cdn.myshoptet.com/usr/www.gymtime.cz/user/shop/detail/85901-1_85596-passion-oat-cookie-skoricova-70g.jpg?6674a6a6"
                            fetchpriority="low" loading="lazy">
                        <div class="flags flags-default"> <span
                                class="flag flag-quantity-discount js-quantity-discounts__flag"
                                style="background-color:#12C4EC;"> Více za méně </span> </div>
                    </a>
                    <div class="p-in">
                        <div class="p-in-in"> <a href="/passion-oat-cookie-skoricova-70g/" class="name"
                                data-micro="url"> <span data-micro="name" data-testid="productCardName"> Passion Oat
                                    cookie skořicová 70g </span> </a>
                            <div class="ratings-wrapper">
                                <div class="availability"> <span style="color:#009901"> Skladem </span> </div>
                            </div>
                        </div>
                        <div class="p-bottom no-buttons">
                            <div data-micro="offer" data-micro-price="45.00" data-micro-price-currency="CZK"
                                data-micro-availability="https://schema.org/InStock">
                                <div class="prices">
                                    <div class="price price-final" data-testid="productCardPrice"> <strong> 45 Kč
                                        </strong> </div>
                                </div>
                                <div class="p-tools">
                                    <form action="/action/Cart/addCartItem/" method="post"
                                        class="pr-action csrf-enabled"> <input type="hidden" name="language" value="cs">
                                        <input type="hidden" name="priceId" value="149486"> <input type="hidden"
                                            name="productId" value="85901"> <input type="hidden" name="amount" value="1"
                                            autocomplete="off"> <button type="submit"
                                            class="btn btn-cart add-to-cart-button"
                                            data-testid="buttonAddToCart"><span>Do košíku</span></button> <input
                                            type="hidden" name="__csrf__" value="csrf_aYuu2Cnk3c8e63643e1d951e"> </form>
                                </div>
                            </div>
                        </div>
                    </div> <span class="no-display" data-micro="sku">P7372</span>
                </div>
            </div>
            <div class="product col-sm-6 col-md-12 col-lg-6 active related-sm-screen-show">
                <div class="p" data-micro="product" data-micro-product-id="85895"
                    data-micro-identifier="0fd55ca6-1e68-11ef-bf81-8652e52c6cd1" data-testid="productItem"> <a
                        href="/passion-low-sugar-cookies-mandle-s-makem-70g/" class="image"> <img
                            src="https://cdn.myshoptet.com/usr/www.gymtime.cz/user/shop/detail/85895-2_85584-passion-low-sugar-cookies-mandle-s-makem-70g.jpg?6674a6a6"
                            alt="85584 passion low sugar cookies mandle s makem 70g"
                            data-micro-image="https://cdn.myshoptet.com/usr/www.gymtime.cz/user/shop/big/85895-2_85584-passion-low-sugar-cookies-mandle-s-makem-70g.jpg?6674a6a6"
                            width="423" height="423"
                            data-src="https://cdn.myshoptet.com/usr/www.gymtime.cz/user/shop/detail/85895-2_85584-passion-low-sugar-cookies-mandle-s-makem-70g.jpg?6674a6a6"
                            fetchpriority="low" loading="lazy">
                        <div class="flags flags-default"> <span
                                class="flag flag-quantity-discount js-quantity-discounts__flag"
                                style="background-color:#12C4EC;"> Více za méně </span> </div>
                    </a>
                    <div class="p-in">
                        <div class="p-in-in"> <a href="/passion-low-sugar-cookies-mandle-s-makem-70g/" class="name"
                                data-micro="url"> <span data-micro="name" data-testid="productCardName"> Passion Low
                                    sugar cookies Mandle s mákem 70g </span> </a>
                            <div class="ratings-wrapper">
                                <div class="availability"> <span style="color:#009901"> Skladem </span> </div>
                            </div>
                        </div>
                        <div class="p-bottom no-buttons">
                            <div data-micro="offer" data-micro-price="55.00" data-micro-price-currency="CZK"
                                data-micro-availability="https://schema.org/InStock">
                                <div class="prices">
                                    <div class="price price-final" data-testid="productCardPrice"> <strong> 55 Kč
                                        </strong> </div>
                                </div>
                                <div class="p-tools">
                                    <form action="/action/Cart/addCartItem/" method="post"
                                        class="pr-action csrf-enabled"> <input type="hidden" name="language" value="cs">
                                        <input type="hidden" name="priceId" value="149480"> <input type="hidden"
                                            name="productId" value="85895"> <input type="hidden" name="amount" value="1"
                                            autocomplete="off"> <button type="submit"
                                            class="btn btn-cart add-to-cart-button"
                                            data-testid="buttonAddToCart"><span>Do košíku</span></button> <input
                                            type="hidden" name="__csrf__" value="csrf_aYuu2Cnk3c8e63643e1d951e"> </form>
                                </div>
                            </div>
                        </div>
                    </div> <span class="no-display" data-micro="sku">P7378</span>
                </div>
            </div>
            <div class="product col-sm-6 col-md-12 col-lg-6 active related-sm-screen-hide">
                <div class="p" data-micro="product" data-micro-product-id="85880"
                    data-micro-identifier="0fa18c14-1e68-11ef-9c2a-8652e52c6cd1" data-testid="productItem"> <a
                        href="/passion-oat-cookie-banana-bread-70g--vegan/" class="image"> <img
                            src="https://cdn.myshoptet.com/usr/www.gymtime.cz/user/shop/detail/85880-1_85593-passion-oat-cookie-banana-bread-70g-vegan.jpg?6674a6a6"
                            alt="85593 passion oat cookie banana bread 70g vegan" data-shp-lazy="true"
                            data-micro-image="https://cdn.myshoptet.com/usr/www.gymtime.cz/user/shop/big/85880-1_85593-passion-oat-cookie-banana-bread-70g-vegan.jpg?6674a6a6"
                            width="423" height="423"
                            data-src="https://cdn.myshoptet.com/usr/www.gymtime.cz/user/shop/detail/85880-1_85593-passion-oat-cookie-banana-bread-70g-vegan.jpg?6674a6a6"
                            fetchpriority="low" loading="lazy">
                        <div class="flags flags-default"> <span
                                class="flag flag-quantity-discount js-quantity-discounts__flag"
                                style="background-color:#12C4EC;"> Více za méně </span> </div>
                    </a>
                    <div class="p-in">
                        <div class="p-in-in"> <a href="/passion-oat-cookie-banana-bread-70g--vegan/" class="name"
                                data-micro="url"> <span data-micro="name" data-testid="productCardName"> Passion Oat
                                    cookie Banana bread 70g (vegan) </span> </a>
                            <div class="ratings-wrapper">
                                <div class="availability"> <span style="color:#009901"> Skladem </span> </div>
                            </div>
                        </div>
                        <div class="p-bottom no-buttons">
                            <div data-micro="offer" data-micro-price="45.00" data-micro-price-currency="CZK"
                                data-micro-availability="https://schema.org/InStock">
                                <div class="prices">
                                    <div class="price price-final" data-testid="productCardPrice"> <strong> 45 Kč
                                        </strong> </div>
                                </div>
                                <div class="p-tools"> <a href="/passion-oat-cookie-banana-bread-70g--vegan/"
                                        class="btn btn-primary">Detail</a> </div>
                            </div>
                        </div>
                    </div> <span class="no-display" data-micro="sku">P7373</span>
                </div>
            </div>
            <div class="product col-sm-6 col-md-12 col-lg-6 active related-sm-screen-hide">
                <div class="p" data-micro="product" data-micro-product-id="86442"
                    data-micro-identifier="e61533ae-55d1-11ef-9d1b-ae59ed3caaae" data-testid="productItem"> <a
                        href="/passion-low-sugar-cookies-arasidova-s-cokoladou-70g/" class="image"> <img
                            src="https://cdn.myshoptet.com/usr/www.gymtime.cz/user/shop/detail/86442_arasidova-s-cokoladou.png?66b54073"
                            alt="ARASIDOVA S COKOLADOU"
                            data-micro-image="https://cdn.myshoptet.com/usr/www.gymtime.cz/user/shop/big/86442_arasidova-s-cokoladou.png?66b54073"
                            width="423" height="423"
                            data-src="https://cdn.myshoptet.com/usr/www.gymtime.cz/user/shop/detail/86442_arasidova-s-cokoladou.png?66b54073"
                            fetchpriority="low" loading="lazy">
                        <div class="flags flags-default"> <span
                                class="flag flag-quantity-discount js-quantity-discounts__flag"
                                style="background-color:#12C4EC;"> Více za méně </span> </div>
                    </a>
                    <div class="p-in">
                        <div class="p-in-in"> <a href="/passion-low-sugar-cookies-arasidova-s-cokoladou-70g/"
                                class="name" data-micro="url"> <span data-micro="name" data-testid="productCardName">
                                    Passion Low sugar cookies Arašídová s čokoládou 70g </span> </a>
                            <div class="ratings-wrapper">
                                <div class="availability"> <span style="color:#009901"> Skladem </span> </div>
                            </div>
                        </div>
                        <div class="p-bottom no-buttons">
                            <div data-micro="offer" data-micro-price="55.00" data-micro-price-currency="CZK"
                                data-micro-availability="https://schema.org/InStock">
                                <div class="prices">
                                    <div class="price price-final" data-testid="productCardPrice"> <strong> 55 Kč
                                        </strong> </div>
                                </div>
                                <div class="p-tools">
                                    <form action="/action/Cart/addCartItem/" method="post"
                                        class="pr-action csrf-enabled"> <input type="hidden" name="language" value="cs">
                                        <input type="hidden" name="priceId" value="152571"> <input type="hidden"
                                            name="productId" value="86442"> <input type="hidden" name="amount" value="1"
                                            autocomplete="off"> <button type="submit"
                                            class="btn btn-cart add-to-cart-button"
                                            data-testid="buttonAddToCart"><span>Do košíku</span></button> <input
                                            type="hidden" name="__csrf__" value="csrf_aYuu2Cnk3c8e63643e1d951e"> </form>
                                </div>
                            </div>
                        </div>
                    </div> <span class="no-display" data-micro="sku">85771</span>
                </div>
            </div>
        </div>
        <div class="browse-p"> <a href="#" class="btn btn-default p-all">Zobrazit všechny související produkty</a>
        </div>