.button {
	border: 0.2rem solid var(--color-almost-black);
	color: var(--color-almost-black);
	padding: 16px 40px;
	border-radius: 360px;
	font-size: 1.8rem;
	font-weight: 700; /* Extra bold */
	display: inline-block;
	text-decoration: none;
	transition-property: color, background-color, border;
	transition-duration: var(--transition-duration-fast);
	transition-timing-function: var(--transition-function);
}
.button:hover {
	border-color: var(--color-purple);
	background: var(--color-purple);
	color: white;
	cursor: pointer;
}
.button--primary {
	background-color:white;
	font-size: 1rem;
	margin:0 auto;
	display:block;
}
.button--small {
}
.button--white {
	border-color: white;
	color: white;
}
.button--white:hover {
	background-color: white;
	color: var(--color-almost-black);
}
