:root {
    --color-primary: #000000;
    --color-primary-h: 0;
    --color-primary-s: 0%;
    --color-primary-l: 0%;
    --color-primary-hover: #000000;
    --color-primary-hover-h: 0;
    --color-primary-hover-s: 0%;
    --color-primary-hover-l: 0%;
    --color-secondary: #000000;
    --color-secondary-h: 0;
    --color-secondary-s: 0%;
    --color-secondary-l: 0%;
    --color-secondary-hover: #000000;
    --color-secondary-hover-h: 0;
    --color-secondary-hover-s: 0%;
    --color-secondary-hover-l: 0%;
    --color-tertiary: #000000;
    --color-tertiary-h: 0;
    --color-tertiary-s: 0%;
    --color-tertiary-l: 0%;
    --color-tertiary-hover: #000000;
    --color-tertiary-hover-h: 0;
    --color-tertiary-hover-s: 0%;
    --color-tertiary-hover-l: 0%;
    --color-header-background: #ffffff;
    --template-font: "Poppins";
    --template-headings-font: "Poppins";
    --header-background-url: none;
    --cookies-notice-background: #F8FAFB;
    --cookies-notice-color: #252525;
    --cookies-notice-button-hover: #27263f;
    --cookies-notice-link-hover: #3b3a5f;
    --templates-update-management-preview-mode-content: "Náhled aktualizací šablony je aktivní pro váš prohlížeč."
}