<!-- Pobo Page Builder - content START -->
<div id='pobo-all-content' class="passion-widgets" data-pobo-content='product' data-pobo-design-id='default'
    data-pobo-page-id='10202071'
    data-pobo-config='{"product_id":10202071,"value_lang":"default","enable_marketplace":0}'>
    <div id='pobo-inner-content'>
        <div id="pobo-standard-widget">
            {{> 01-USP}}
            {{!-- {{> 01-USP--old}} --}}            
            {{> 02-vyhody }}
            {{!-- {{> 02-vyhody--old }} --}}
            {{> 03-chut }}
            {{!-- {{> 03-chut--old }} --}}
            {{> 04-hlavni-ingredience }}
            {{!-- {{> 04-hlavni-ingredience--old }} --}}            
            {{> 05-stevie }}
            {{> 05-stevie }}
            {{!-- {{> 05-stevie--old }} --}}


            {{!-- 06 - vlaknina --}}
            {{> 06-vlaknina--old }}
            {{!-- 07 - protein --}}{{!-- 07 - widget-image-half-left--beige--has-gradient --}}
            {{> 07-protein--old }}
            {{!-- 08 - filosozie --}}{{!-- 08 - widget-image-half-right--has-button--yellow--has-gradient --}}
            {{> 08-filozofie--old }}
            {{!-- 09 - idealni svacinka --}}
            {{> 09-idealni-svacinka--old }}
            {{!-- 10 - mini cookies --}}
            {{> 10-mini-cookies--old }}

        </div>
        <div id="pobo-share-widget"></div>
    </div>
</div><!-- Pobo Page Builder - content END -->