:root {
--pobo-advantages-info-font-color: var(--passion-color-primary);
--pobo-jumbotron-one-content-text-font-size: 16px;
--pobo-jumbotron-one-content-text-line-height: 1.6em;
--pobo-jumbotron-one-content-padding: 4em;
}
/*
 * pobo overrides
 */

 /*
  * image-half-lef
  * image-half-right
  */
 .p-detail-tabs-wrapper #tab-content #description .description-inner .basic-description 
 .passion-widgets {
    .widget-image-half-left .rc-image-half-left,
    .widget-image-half-right .rc-image-half-right {
        display: flex;
        flex-direction: row;
        align-items: stretch;
        flex-wrap: wrap;
        max-width: 100%;
        
    }
    @media screen and (max-width: 767px) {
        .widget-image-half-left .rc-image-half-left,
        .widget-image-half-right .rc-image-half-right {
            padding: 0;
            flex-direction: column;
        }        
        .widget-image-half-left .rc-image-half-left {
            .rc-image-half-left__image,
            .rc-image-half-left__text {
                width: 100%;
            }
        }
         .widget-image-half-right .rc-image-half-right {
            .rc-image-half-right__image,
            .rc-image-half-right__text {
                width: 100%;
            }
        }
        .widget-image-half-left .rc-image-half-left .rc-image-half-left__img,
        .widget-image-half-right .rc-image-half-right .rc-image-half-right__img {
            position: relative;
            top: auto;
            /* width: 80vw; */
            max-height: 25em;
            
            /* transform: scale(1.3) translateX(-5vw); */
            /* transform: scale(1.3); */
            transform-origin: center center;
        }
        
    }
    .widget-image-half-left .rc-image-half-left__image,
    .widget-image-half-right .rc-image-half-right__image {
        /* background: lightblue; */
        padding: 0;
        /* flex: 1 1 0%;  */
        /* sirka 50%;*/
        width: 50%;
        min-height: 50px;
        position: relative;
        box-sizing: border-box;
    }
    .widget-image-half-left .rc-image-half-left__text,
    .widget-image-half-right .rc-image-half-right__text {
        /* background: lightcoral; */
        box-sizing: border-box;
        /* flex: 1 1 0%;   */
        /* sirka 50%;*/
        width: 50%;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: stretch;

        padding: 4em 3em 4em 3em ;
        @media screen and (max-width: 1199px) {
            padding: 3.5em 1.5em 3.5em 1.5em ;
        }
        @media screen and (max-width: 767px) {
            padding: 3em 2.5em 2em 2.5em;
        }
        @media screen and (max-width: 420px) {
            padding: 2em 1.8em 1em 1.8em;
        }

    }
    
    
    .widget-image-half-left {
        /* .rc-image-half-left__text {
            padding: 4em 3.5em 2em 0 ;
            @media screen and (max-width: 1199px) {
                padding: 4em 3em 2em 0 ;
            }
            @media screen and (max-width: 767px) {
                padding: 4em 2.5em 2em 2.5em;
            }
            @media screen and (max-width: 420px) {
                padding: 2em 1.8em 2em 1.8em;
            }
        }         */
        .rc-image-half-left__img {
            position: absolute;
            object-fit: cover;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            width: auto;

            height: auto;
        }
    } 
    .widget-image-half-right {

        .rc-image-half-right__image {
            flex: 0 1 auto; 
            padding: 0;
            /* background: lightblue; */
            position: relative;
        }
        .rc-image-half-right__text {
            /* padding: 4em 0em 2em 3.5em ; */
            /* background: lightcoral; */
            @media screen and (max-width: 1199px) {
                /* padding: 4em 0em 2em 3em ; */
            }
            @media screen and (max-width: 767px) {
                /* padding: 4em 2.5em 2em 2.5em; */
            }
            @media screen and (max-width: 420px) {
                /* padding: 2em 1.8em 2em 1.8em; */
            }
        }        
        .rc-image-half-right__img {
            width: 100%;
            height: 100%;
            position: absolute;
            object-fit: cover;
        }
        
    }      
}
/*
 * advantages-three
 */
.p-detail-tabs-wrapper #tab-content #description .description-inner .basic-description 
.passion-widgets
.widget-advantages-three {
    .rc-advantages-three {
        display: flex;
        justify-content: center;
        gap: 1em;
        padding: 1em;
        flex-wrap: wrap;

        .rc-advantages-three__item {
            max-width: 140px;
        }
        .rc-advantages-three__ico-container {
            background: none;
            margin: 0;
            width: unset;
            height: unset;
            img {
                background: none;
            }
        }
        .rc-advantages-three__info {
            display: flex;
            flex-direction: column-reverse;
            .rc-advantages-three__info-header {
            /* font-size: 14px; */
            font-size: 0.8em;
            line-height: 1.4em;
            text-transform: uppercase;
            letter-spacing: 0.2em;
            margin: 0.35em 0 0.3em;
            }
            .rc-advantages-three__info-text {
                font-size: 20px;
                font-weight: 700;
                padding: 0;
                margin: 0;
            }
        }        
    }
    
}

.p-detail-tabs-wrapper #tab-content #description .description-inner .basic-description 
.passion-widgets
.widget-jumbotron-one {
    .rc-jumbotron-one__wrap {
        background: none;
    }
    .rc-jumbotron-one__content-title {
        display: block;
        width: 15em;
    }
    .rc-jumbotron-one__content-text {
        margin: 0;
        padding: 0;
        max-width: 20em;
        /* font-size: 1em; --pobo-jumbotron-one-content-text-font-size: 16px; */
    }
    .rc-jumbotron-one__content {
        background: none;
        padding: var(--pobo-jumbotron-one-content-padding: 4em);
        @media screen and (max-width:767px) {
            padding: 3em;
        }
    }
}