.p-detail-tabs-wrapper #tab-content #description .description-inner .basic-description {
    .widget-container {
        padding: 0;
        color: var(--passion-color-primary);
        border-radius: var(--passion-border-radius);
        overflow: hidden;

        &.widget-container--make-text-black {
            .rc-jumbotron-one__content {
                h2, h2.rc-jumbotron-one__content-title, p, span {
                    color: var(--passion-color-primary);
                }
                h3, h3.preheading {
                    color:  #82898F;
                }               
            }            
        }
        &.widget-container--has-gradient .rc-image-half-left__image:before,
        &.widget-container--has-gradient .rc-image-half-right__image:before, {
                display: block;
                content: " ";
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                z-index: 50;
                width: auto;
                height: auto;
            }
        &.widget-container--pink {
            background: var(--passion-color-pink);
        }
        &.widget-container--purple {
            background: var(--passion-color-purple);
        }
        &.widget-container--purple.widget-container--has-gradient {
            .rc-image-half-left__image:before {
                background: linear-gradient(270deg,rgba(197, 181, 217, 1) 0%, rgba(197, 181, 217, 0) 60%);
            }
            .rc-image-half-right__image:before {
                background: linear-gradient(90deg,rgba(197, 181, 217, 1) 0%, rgba(197, 181, 217, 0) 60%);
            }
            @media screen and (max-width: 767px) {
                .rc-image-half-left__image:before, 
                .rc-image-half-right__image:before {
                    background: linear-gradient(180deg,rgba(197, 181, 217, 1) 0%, rgba(197, 181, 217, 0) 60%);
                } 
            }
        }
        &.widget-container--grey{
            background: var(--passion-color-grey);
        }
        &.widget-container--beige{
            background: var(--passion-color-beige);

            .rc-image-half-left__image:before {
                background: linear-gradient(270deg,rgba(187, 183, 171, 1) 0%, rgba(187, 183, 171, 0) 50%);
            }
            .rc-image-half-right__image:before {
                background: linear-gradient(90deg,rgba(187, 183, 171, 1) 0%, rgba(187, 183, 171, 0) 50%);
            }
            @media screen and (max-width: 767px) {
                .rc-image-half-left__image:before, 
                .rc-image-half-right__image:before {
                    background: linear-gradient(180deg,rgba(187, 183, 171, 1) 0%, rgba(187, 183, 171, 0) 30%);
                } 
            }
            
        }
        &.widget-container--yellow{
            background: var(--passion-color-yellow);

            .rc-image-half-left__image:before {
                background: linear-gradient(270deg,rgba(222, 189, 144, 1) 0%, rgba(222, 189, 144, 0) 60%);
            }
            .rc-image-half-right__image:before {
                background: linear-gradient(90deg,rgba(222, 189, 144, 1) 0%, rgba(222, 189, 144, 0) 60%);
            }
            @media screen and (max-width: 767px) {
                .rc-image-half-left__image:before, 
                .rc-image-half-right__image:before {
                    background: linear-gradient(180deg,rgba(222, 189, 144, 1) 0%, rgba(222, 189, 144, 0) 60%);
                } 
            }
        }
        &.widget-container--teal{
            background: var(--passion-color-teal);

            .rc-image-half-left__image:before {
                background: linear-gradient(270deg,rgba(182, 211, 217, 1) 0%, rgba(182, 211, 217, 0) 60%);
            }
            .rc-image-half-right__image:before {
                background: linear-gradient(90deg,rgba(182, 211, 217, 1) 0%, rgba(182, 211, 217, 0) 60%);
            }
            @media screen and (max-width: 767px) {
                .rc-image-half-left__image:before, 
                .rc-image-half-right__image:before {
                    background: linear-gradient(180deg,rgba(182, 211, 217, 1) 0%, rgba(182, 211, 217, 0) 60%);
                } 
            }
        }
        h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
            font-family: var(--font-primary);
            color: var(--passion-color-primary);
            font-weight: unset;
            margin: 0;            
        }
        h3, .preheading {
            color: white;
            font-weight: 300;
            text-transform: uppercase;
            font-size: 15px;
            letter-spacing: 0.4em;
            margin: 0;
            margin-bottom: 1.2em;
        }
        .widget-typography h2, 
        .rc-jumbotron-one__content h2, 
        .section-title {
            text-transform: uppercase;
            font-size: 32px;
            font-weight: 700;
            line-height: 1.2em;
            letter-spacing: 0.03em;
            margin: 0;            
            margin-bottom: 0.9em;
            padding: 0;
            @media screen and (max-width: 1199px) {
                font-size: 28px;
            }
            @media screen and (max-width: 767px) {
            }
            @media screen and (max-width: 420px) {
            }
        }
        p, span {
            color: var(--passion-color-primary);
            line-height: 1.6em;
            letter-spacing: 0.03em;
        }
    }
    #pobo-standard-widget {
        .widget-jumbotron-one, 
        .rc-jumbotron-one-with-button {
            background: var(--passion-color-grey);
        }
        
    } 
}