:root {
--pobo-advantages-info-font-color: var(--passion-color-primary);
--pobo-jumbotron-one-content-text-font-size: 16px;
--pobo-jumbotron-one-content-text-line-height: 1.6em;
--pobo-jumbotron-one-content-padding: 4em;
}
/*
 * pobo overrides
 */
 .p-detail-tabs-wrapper #tab-content 
 #description .description-inner .basic-description {
    /*
     * fix pro widgety, které mají na desktopu 50% šířky
     */
    #pobo-standard-widget {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        gap: 20px;
        
        .widget-container {
            width: 100%;
        }
        .widget-container.widget-container--half {
            width: calc(50% - 10px);
            @media screen and (max-width: 1199px) {
                width: 100%;
            }
        }
    }        
    /*
    * general elements
    */
    #pobo-standard-widget {
        .widget-container {
            /*
            * BUTTON
            */
            .rc-jumbotron-one__link { /*.passion-button {*/
                background: var(--passion-color-primary);
                border-radius: 50px;
                padding: 0.3em 1.8em;
                line-height: 1em;
                color: white;
                display: flex;
                gap: 0.6em;
                align-items: center;
                align-self: center;
                
                font-size: 1em;
                font-weight: 500;
                &:after {/*.passion-button__chevron {*/
                    display: inline-block;
                    content: " ";
                    width: 0.75em;
                    height: 0.75em;
                    background-image: url('https://cdn.myshoptet.com/usr/www.passionnutrition.cz/user/documents/img/detail_produktu/passion/lowsugar-koma/icon-chevron.svg');
                    color: white !important;
                    z-index: 100; 
                }
                &:hover {
                    background: var(--passion-color-purple);
                    color: var(--passion-color-primary);
                    font-weight: 500;
                    text-decoration: none;
                    &:after {
                        filter: invert(1);
                    }
                }
            }
        }
    }
    /*
    * WIDGET
    * image-half-left
    * image-half-right
    */
    #pobo-standard-widget {
        .widget-image-half-left, 
        .widget-image-half-right {
            .widget-typography {
                height: 100%;
            }
        }        
        .widget-image-half-left .rc-image-half-left,
        .widget-image-half-right .rc-image-half-right {
            display: flex;
            flex-direction: row;
            align-items: stretch;
            flex-wrap: wrap;
            max-width: 100%;
            height: 100%;
            
        }
        .widget-image-half-left .rc-image-half-left__image,
        .widget-image-half-right .rc-image-half-right__image {
            /* background: lightblue; */
            position: relative;
            padding: 0;
            /* flex: 1 1 0%;  */
            /* sirka 50%;*/
            width: 50%;
            min-height: 50px;
            height: 100%;
            
            box-sizing: border-box;
        }
        .widget-container .rc-image-half-left__image:before,
        .widget-container .rc-image-half-right__image:before {
            display: block;
            content: " ";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 50;
            width: auto;
            height: auto;
        }
        .widget-image-half-left .rc-image-half-left .rc-image-half-left__img,
        .widget-image-half-right .rc-image-half-right .rc-image-half-right__img { 
            object-fit: cover;
            position: absolute;
            object-fit: cover;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            position: absolute;
        }
        .widget-image-half-left .rc-image-half-left__text,
        .widget-image-half-right .rc-image-half-right__text {
            /* background: lightcoral; */
            box-sizing: border-box;
            /* flex: 1 1 0%;   */
            /* sirka 50%;*/
            width: 50%;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            padding: 3em 2.5em 3em 2.5em ;
            @media screen and (max-width: 1199px) {
                padding: 3em 1.5em 3em 1.5em ;
            }
            @media screen and (max-width: 767px) {
                padding: 3em 2.5em 2em 2.5em;
            }
            @media screen and (max-width: 420px) {
                padding: 2em 1.8em 1em 1.8em;
            }

        }
        @media screen and (max-width: 767px) {
            .widget-image-half-left .rc-image-half-left,
            .widget-image-half-right .rc-image-half-right {
                padding: 0;
                height: auto;
                flex-direction: column;
            }        
            .widget-image-half-left .rc-image-half-left {
                .rc-image-half-left__image,
                .rc-image-half-left__text {
                    width: 100%;
                }
            }
            .widget-image-half-right .rc-image-half-right {
                .rc-image-half-right__image,
                .rc-image-half-right__text {
                    width: 100%;
                }
            }
            .widget-image-half-left .rc-image-half-left .rc-image-half-left__img,
            .widget-image-half-right .rc-image-half-right .rc-image-half-right__img {
                position: relative;
                top: auto;
                /* width: 80vw; */
                max-height: 22em;
                /* transform: scale(1.3) translateX(-5vw); */
                /* transform: scale(1.3); */
                transform-origin: center center;
            }
            
        }
        
        
        .widget-image-half-left {
            /* .rc-image-half-left__text {
                padding: 4em 3.5em 2em 0 ;
                @media screen and (max-width: 1199px) {
                    padding: 4em 3em 2em 0 ;
                }
                @media screen and (max-width: 767px) {
                    padding: 4em 2.5em 2em 2.5em;
                }
                @media screen and (max-width: 420px) {
                    padding: 2em 1.8em 2em 1.8em;
                }
            }         */
     
        } 
        .widget-image-half-right {

            .rc-image-half-right__image {
                flex: 0 1 auto; 
                padding: 0;
                /* background: lightblue; */
                position: relative;
            }
            .rc-image-half-right__text {
                /* padding: 4em 0em 2em 3.5em ; */
                /* background: lightcoral; */
                @media screen and (max-width: 1199px) {
                    /* padding: 4em 0em 2em 3em ; */
                }
                @media screen and (max-width: 767px) {
                    /* padding: 4em 2.5em 2em 2.5em; */
                }
                @media screen and (max-width: 420px) {
                    /* padding: 2em 1.8em 2em 1.8em; */
                }
            }        
            
        }      
    }
    /*
    * advantages-three
    */
    #pobo-standard-widget .widget-advantages-three {
        margin: 0;
        .rc-advantages-three {
            display: flex;
            justify-content: center;
            gap: 1em;
            padding: 1em;
            flex-wrap: wrap;

            .rc-advantages-three__item {
                max-width: 140px;
            }
            .rc-advantages-three__ico-container {
                background: none;
                margin: 0;
                width: unset;
                height: unset;
                img {
                    background: none;
                }
            }
            .rc-advantages-three__info {
                display: flex;
                flex-direction: column-reverse;
                .rc-advantages-three__info-header {
                /* font-size: 14px; */
                font-size: 0.8em;
                line-height: 1.4em;
                text-transform: uppercase;
                letter-spacing: 0.2em;
                margin: 0.35em 0 0.3em;
                }
                .rc-advantages-three__info-text {
                    font-size: 20px;
                    font-weight: 700;
                    padding: 0;
                    margin: 0;
                }
            }        
        }
        
    }
    /*
    * jumbotron-one
    */
    #pobo-standard-widget {
        .widget-jumbotron-one, 
        .rc-jumbotron-one-with-button {
            .widget-projector, .rc-jumbotron-one {
                height: 100%;
            }
            .rc-jumbotron-one__wrap {
                background: none;
                display: flex;
                align-items: stretch;  
                height: 100%;              
            }
            .rc-jumbotron-one__wrap-img {
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                width: 100%;
                height: 100%;
            }
            .rc-jumbotron-one__content {                
                display: flex;
                align-items: center;
                justify-content: center;
                background: none;
                padding: 3em;
                @media screen and (max-width:767px) {
                    padding: 3em;
                }
            }
            .rc-jumbotron-one__content-title {
                display: block;
                max-width: 15em;
            }
            .rc-jumbotron-one__content-text {
                margin: 0;
                padding: 0;
                max-width: 20em;
                /* font-size: 1em; --pobo-jumbotron-one-content-text-font-size: 16px; */
            }            
        }
        .widget-jumbotron-one--text-half-left,
        .widget-jumbotron-one--text-half-right {
            .rc-jumbotron-one__wrap {
                display: flex;
                flex-direction: row;
                align-items: stretch;  
                height: 100%;   

                .rc-jumbotron-one__content {
                    width: 60%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    gap: 20px;

                    .rc-jumbotron-one__content-title, .preheading {
                        margin: 0;
                        padding: 0;
                    }
                    
                }
            }
        }
        .widget-jumbotron-one--text-half-left {
            .rc-jumbotron-one__wrap {
                justify-content: flex-start;
            }
            .rc-jumbotron-one__wrap-img {
                left: 50%;
                width: 50%;
                object-position: center left;
            }            
        }
        .widget-jumbotron-one--text-half-right {
            .rc-jumbotron-one__wrap {
                justify-content: flex-end;
            }
            .rc-jumbotron-one__wrap-img {
                right: 50%;
                width: 50%;
                object-position: center right;
            }
        }
    }
    /*
    * card-call-to-action - NEPOUŽITO
    */
    #pobo-standard-widget .widget-card-call-to-action {
        border-radius: 0 !important;
        .rc-card-call-to-action__wrap {
            box-shadow: none;
        }
        .rc-card-call-to-action__single {
            position: relative;
            border-radius: var(--passion-border-radius);
            overflow: hidden;
            box-shadow: none;

            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: stretch;
            > * {
                width: 50%;
            }
            .rc-card-call-to-action__image {
                display: block;
                position: absolute;
                top: 0;
                right: 50%;
                bottom: 0;
                left: 0;
                width: calc(50%);
                height: 100%;

                height: 100%;
                border-radius: 0;
                overflow: hidden;
                img {
                    display: block;
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                    border-radius: 0;
                    transform: scale(2);
                }
            }
        }
        .rc-card-call-to-action__single:nth-child(2) {
            flex-direction: row-reverse;
        }
    }
 }