  <h3>Detailní popis produktu</h3>
                                    <h6></h6>
                                    <h6><span style="font-size: 11pt;"><span
                                                style="font-size: 11pt; font-family: var(--template-headings-font),sans-serif;"><strong><img
                                                        src="https://cdn.myshoptet.com/usr/www.passionnutrition.cz/user/documents/upload/passion nutrition/kakao, lískové ořechy, protein.png"
                                                        alt="kakao, lískové ořechy, protein" width="669" height="259"
                                                        style="display: block; margin-left: auto; margin-right: auto;"
                                                        loading="eager"></strong></span></span></h6>
                                    <h6><span style="font-size: 11pt;"><strong></strong></span></h6>
                                    <p style="text-align: left;"><span
                                            style="font-size: 11pt;"><strong>Bezkonkurenční</strong><span>
                                            </span><strong>chuť</strong><span> a složení plné
                                            </span><strong>kakaa</strong><span> a
                                            </span><strong>čokolády</strong><span>, ve spolupráci
                                                s&nbsp;</span><strong>@baru_jirik</strong><span>? To je
                                            </span><strong>Passion Cookie Čokoládové kóma.</strong></span></p>
                                    <p style="text-align: left;"><span style="font-size: 11pt;"><strong>Passion Cookie
                                                Čokoládové kóma</strong><span>&nbsp;je postavena
                                                na&nbsp;</span><strong>dvou<span>&nbsp;</span></strong>surovinách<strong><span>:</span></strong></span>
                                    </p>
                                    <ul style="text-align: left;">
                                        <li><span style="font-size: 11pt;">syrovátkový proteinový izolát, micelární
                                                kasein a sušený bílek</span></li>
                                        <li><span style="font-size: 11pt;">rozpustná rostlinná vláknina</span></li>
                                    </ul>
                                    <p style="text-align: left;"><span
                                            style="font-size: 11pt;"><strong>Hlavní</strong><span>
                                                výhody&nbsp;</span><strong>Passion Cookie Čokoládové
                                                kóma</strong><span>:</span></span></p>
                                    <ul style="text-align: left;">
                                        <li><span style="font-size: 14.6667px;">podpora <strong>svalového růstu</strong>
                                                a <strong>regenerace</strong></span><span
                                                style="font-size: 14.6667px;"></span></li>
                                        <li><span style="font-size: 14.6667px;"><strong>pocit zasycení</strong> díky
                                                obsažené vláknině</span></li>
                                        <li><span style="font-size: 14.6667px;"><strong>vhodná&nbsp;</strong>při
                                                nízkosacharidové&nbsp;<strong>dietě</strong></span></li>
                                        <li><span style="font-size: 14.6667px;">podpora <strong>trávení</strong></span>
                                        </li>
                                        <li><span style="font-size: 14.6667px;"><strong>kvalitní</strong> složení
                                                založené na<strong> celistvých potravinách</strong></span></li>
                                        <li><span style="font-size: 14.6667px;">skvělá chuť <strong>bez použití
                                                    cukru</strong> a <strong>chemických surovin</strong></span></li>
                                        <li><span style="font-size: 14.6667px;">použité
                                                sladidlo&nbsp;<strong>steviol-glykosidy</strong> a
                                                <strong>erythritol</strong></span></li>
                                        <li><span style="font-size: 14.6667px;"><strong>bez </strong>lepku</span></li>
                                        <li><span style="font-size: 14.6667px;"><strong>bez&nbsp;</strong>umělých
                                                sladidel acesulfam k,&nbsp;cyklamát sodný,&nbsp;aspartam,
                                                sukralóza</span></li>
                                    </ul>
                                    <p style="text-align: left;">Spojením těch <strong>nejkvalitnějších</strong> surovin
                                        ve spolupráci s <strong>@baru_jirik</strong>, vznikla cookieska <strong>bez
                                            cukru</strong>,<strong> bez lepku</strong> s <strong>vysokým obsahem
                                            bílkovin,</strong>&nbsp;<strong>Passion Cookie Čokoládové
                                            kóma.&nbsp;</strong>Všichni kdo mají rádi <strong>čokoládu,&nbsp;</strong>si
                                        tuto cookiesku <strong>zamilují</strong>. Spousta čokolády společně s
                                        <strong>kakaovými boby</strong>, dělá tuto sušenku opravdovou čokoládovou
                                        delikatesou<strong> bez použití cukru.</strong><strong></strong></p>
                                    <p style="text-align: left;">Jelikož se sušenky&nbsp;<strong>vyrábí ručně, žádná
                                        </strong>nebude stejná a každá bude <strong>originál!</strong></p>
                                    <table cellspacing="0" cellpadding="0" style="width: 588px; border-color: #000000;">
                                        <tbody>
                                            <tr style="text-align: left;">
                                                <td valign="middle" style="width: 274.533px;"><strong>Výživové
                                                        údaje:</strong></td>
                                                <td valign="middle" style="width: 169.467px;"><b>100g</b></td>
                                                <td valign="middle" style="width: 141px;"><b>70g</b></td>
                                            </tr>
                                            <tr style="text-align: left;">
                                                <td valign="middle" style="width: 274.533px;"><b>Energetická hodnota</b>
                                                </td>
                                                <td valign="middle" style="width: 169.467px;">1464kJ/350kcal</td>
                                                <td valign="middle" style="width: 141px;">1025gkJ/245kcal</td>
                                            </tr>
                                            <tr style="text-align: left;">
                                                <td valign="middle" style="width: 274.533px;"><b>Tuky</b></td>
                                                <td valign="middle" style="width: 169.467px;">20,9g</td>
                                                <td valign="middle" style="width: 141px;">14,6g</td>
                                            </tr>
                                            <tr style="text-align: left;">
                                                <td valign="middle" style="width: 274.533px;">– z toho nasycené mastné
                                                    kyseliny</td>
                                                <td valign="middle" style="width: 169.467px;">4,9g</td>
                                                <td valign="middle" style="width: 141px;">3,4g</td>
                                            </tr>
                                            <tr style="text-align: left;">
                                                <td valign="middle" style="width: 274.533px;"><b>Sacharidy</b></td>
                                                <td valign="middle" style="width: 169.467px;">20g</td>
                                                <td valign="middle" style="width: 141px;">14g</td>
                                            </tr>
                                            <tr style="text-align: left;">
                                                <td valign="middle" style="width: 274.533px;">– z toho cukry</td>
                                                <td valign="middle" style="width: 169.467px;">3,1g</td>
                                                <td valign="middle" style="width: 141px;">2,2g</td>
                                            </tr>
                                            <tr style="text-align: left;">
                                                <td valign="middle" style="width: 274.533px;"><b>Vláknina</b></td>
                                                <td valign="middle" style="width: 169.467px;">21,4g</td>
                                                <td valign="middle" style="width: 141px;">15g</td>
                                            </tr>
                                            <tr style="text-align: left;">
                                                <td valign="middle" style="width: 274.533px;"><b>Bílkoviny</b></td>
                                                <td valign="middle" style="width: 169.467px;">21g</td>
                                                <td valign="middle" style="width: 141px;">14,7g</td>
                                            </tr>
                                            <tr>
                                                <td valign="middle" style="width: 274.533px; text-align: left;">
                                                    <b>Sůl</b></td>
                                                <td valign="middle" style="width: 169.467px; text-align: left;">0,3g
                                                </td>
                                                <td valign="middle" style="width: 141px; text-align: left;">0,2g</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <p style="text-align: left;">&nbsp;</p>
                                    <p style="text-align: left;"><b
                                            style="text-align: center; font-family: var(--template-font),sans-serif;">Složení:</b>
                                    </p>
                                    <ul style="text-align: left;">
                                        <li>proteinová směs (syrovátkový proteinový izolát (mléko), micelární kasein
                                            (mléko), sušený bílek), rostlinná rozpustná vláknina, čokoládové pecičky 10%
                                            (kakaová hmota 56%, inulin, kakaové máslo 34%, emulgátor: slunečnicový
                                            lecitin), lískové ořechy, arašídy, přepuštěné máslo ghí (mléko), kakaové
                                            boby, tapioková mouka, kakao, zvlhčující látka: glycerol, aroma,
                                            steviol-glykosidy. Může obsahovat stopy ostatních skořápkových plodů.</li>
                                    </ul>
                                    <p style="text-align: left;"><b>Hmotnost: </b>70g</p>
                                    <p style="text-align: left;"><b></b><b>Minimální trvanlivost
                                            do:<span>&nbsp;</span></b>uvedeno na obalu</p>
                                    <p style="text-align: left;"><b>Skladování:<span>&nbsp;</span></b>Při pokojové
                                        teplotě, na suchém a tmavém místě.</p>
                                    <p style="text-align: left;"><strong>Po otevření určeno k okamžité
                                            spotřebě.</strong></p>
                                