<!-- 
    NÁZEV WIDGETU: Obrázek vlevo s textem a ikonami (růžový)
    VÝCHOZÍ OBSAH: 01 - usp
 -->
<div class="widget-image-half-left--pink">
    <div class="rc-image-half-left">
        <div class="rc-image-half-left__image">
            <img src="https://www.gymtime.cz/user/documents/img/detail_produktu/passion/lowsugar-koma/USP-CokoladovaPani.jpg"
                class="rc-image-half-left__img">
        </div>
        <div class="rc-image-half-left__text">
            <!-- vloží wysiwyg -->
                <h3>Čokoládové kóma</h3>
                
                <h2>Nech si učarovat&nbsp;naší nejčokoládovější <em>Low Sugar</em>
                    Cookie</h2>
                <p>Plná chuť čokolády a ořechů na Tebe čeká společně s velkou dávkou proteinu.
                    Naše nejčokoládovější cookie vznikla ve spolupráci s fitness influencerkou
                    <a href="http://@baru_jirik" target="_blank" rel="noopener noreferrer">@baru_jirik</a>
                </p>
            <!-- vloží wysiwyg end -->
            <div class="inner-flex-container inner-flex-container--white">
                <div class="iconbox">
                    <img class="iconbox__icon"
                        src="https://cdn.myshoptet.com/usr/www.passionnutrition.cz/user/documents/img/detail_produktu/passion/lowsugar-koma/icon-high-protein.svg">
                    <span class="iconbox__value">
                        14 g
                    </span>
                    <h3 class="iconbox__title">
                        Velký podíl proteinu
                    </h3>
                </div>
                <div class="iconbox">
                    <img class="iconbox__icon"
                        src="https://cdn.myshoptet.com/usr/www.passionnutrition.cz/user/documents/img/detail_produktu/passion/lowsugar-koma/icon-low-sugar.svg">
                    <span class="iconbox__value">
                        1 g
                    </span>
                    <h3 class="iconbox__title">
                        Minimum cukru
                    </h3>
                </div>
                <div class="iconbox">
                    <img class="iconbox__icon"
                        src="https://cdn.myshoptet.com/usr/www.passionnutrition.cz/user/documents/img/detail_produktu/passion/lowsugar-koma/icon-bez-lepku.svg">
                    <span class="iconbox__value"></span>
                    <h3 class="iconbox__title">
                        Bez lepku
                    </h3>
                </div>
            </div>
        </div>
    </div>
</div>