<!-- 
 NÁZEV WIDGETU: Poutač (šedivý)
 VÝCHOZÍ OBSAH: 04 - hlavni ingredience
 -->
<div class="widget-jumbotron-one--grey">
    <div class="rc-jumbotron-one">
        <div class="rc-jumbotron-one__wrap"><img class="rc-jumbotron-one__wrap-img"
                src="https://image.pobo.cz/images/cv6whszbhkfg/2steajncw0qzq818p6pb-md.jpeg">
            <div class="rc-jumbotron-one__content">
                <h3 class="rc-jumbotron-one__preheading">Hlavní ingredience</h3>
                <h2 class="rc-jumbotron-one__content-title"> Kakaové boby, čokoláda oříšky </h2>
                <span class="rc-jumbotron-one__content-text"> Lískové ořechy a arašídy dodávají bohatou
                    chuť, zdravé tuky a přirozenou křupavost
                </span>
            </div>
        </div>
    </div>
</div>