<!-- 
    NÁZEV WIDGETU: Poloviční poutač s textem vlevo (šedivý)
    VÝCHOZÍ OBSAH: 06 - vlaknina 
 -->
<div class="widget-jumbotron-one--half--text-half-left--grey">
    <div class="rc-jumbotron-one">
        <div class="rc-jumbotron-one__wrap">
            <img 
                class="rc-jumbotron-one__wrap-img"
                src="https://image.pobo.cz/images/cv6whszbhkfg/lx5dcnswi379rouzjzlf-md.jpeg">
            <div class="rc-jumbotron-one__content">
                <h3 class="rc-jumbotron-one__preheading">Vláknina</h3>
                <h2 class="rc-jumbotron-one__content-title">
                    Rozpustna rostlinná vláknina
                </h2>
                <span class="rc-jumbotron-one__content-text">
                    Pro lehké trávení a dlouhotrvající energii
                </span>
                <a href="" class="rc-jumbotron-one__link">
                    Přečíst více
                </a>
            </div>
        </div>
    </div>
</div>