<!-- 
    NÁZEV WIDGETU: Obrázek vlevo s textem a ikonami (béžový+gradient)
    VÝCHOZÍ OBSAH: 07 - protein
 -->
<div class="widget-image-half-left--beige--has-gradient">
    <div class="rc-image-half-left">
        <div class="rc-image-half-left__image">
            <img data-src="" class="rc-image-half-left__img"
                src="https://cdn.myshoptet.com/usr/www.gymtime.cz/user/documents/img/detail_produktu/passion/lowsugar-koma/protein.jpg">
        </div>
        <div class="rc-image-half-left__text">
            <!-- vloží wysiwyg -->
            <h3>
                Protein
            </h3>
            <h2>
                Pořádná dávka bílkovin v&nbsp;každém soustu
            </h2>
            <p>
                Pro optimální vstřebatelnost a zajištění kompletního spektra aminokyselin
                <strong>využíváme 3 zdroje bílkovin.</strong> Perfektní volba pro ty, kteří chtějí víc
                než jen sladkou odměnu.
            </p>
            <!-- vloží wysiwyg end -->
            <div class="inner-flex-container">
                <div class="iconbox">
                    <img class="iconbox__icon"
                        src="https://cdn.myshoptet.com/usr/www.passionnutrition.cz/user/documents/img/detail_produktu/passion/lowsugar-koma/icon-izolat.svg">
                    <h3 class="iconbox__title">
                        Syrovátkový proteinový izolát
                    </h3>
                </div>
                <div class="iconbox">
                    <img class="iconbox__icon"
                        src="https://cdn.myshoptet.com/usr/www.passionnutrition.cz/user/documents/img/detail_produktu/passion/lowsugar-koma/icon-kasein.svg">
                    <h3 class="iconbox__title">
                        Micelární kasein
                    </h3>
                </div>
                <div class="iconbox">
                    <img class="iconbox__icon"
                        src="https://cdn.myshoptet.com/usr/www.passionnutrition.cz/user/documents/img/detail_produktu/passion/lowsugar-koma/icon-bilek.svg">
                    <h3 class="iconbox__title">
                        Sušený bílek
                    </h3>
                </div>
            </div>
        </div>
    </div>
</div>