<!-- 
    NÁZEV WIDGETU: LowSugar Mini Cookies Banner
    VÝCHOZÍ OBSAH: 10 - mini cookies
 -->
<div class="widget-passion-low-sugar-mini-cookies">
    <div class="rc-image-half-right">
        <div class="rc-image-half-right__text">
            <h3 class="rc-image-half-right__preheading">
                Vyzkoušejte také
            </h3>
            <h2 class="section-title script-image-wrapper">
                <img class="script-image-wrapper__image"
                    src="https://cdn.myshoptet.com/usr/www.passionnutrition.cz/user/documents/img/detail_produktu/passion/lowsugar/text-lowsugar-minicookies.svg">
                <span class="script-image-wrapper__text">
                    Low Sugar Mini Cookies
                </span>
            </h2>
            <h3 class="rc-image-half-right__afterheading">
                to nejlepší, ale v malém
            </h3>
            <a class="passion-button passion-button--white" href="">
                Ochutnat!
            </a>
        </div>
        <div class="rc-image-half-right__image">
            <img class="rc-image-half-right__img"
                src="https://cdn.myshoptet.com/usr/www.gymtime.cz/user/documents/img/detail_produktu/passion/lowsugar-koma/mini-cookies.jpg">
        </div>
    </div>
</div>