<div data-pobo-widget-id="220" data-pobo-unique-id="1869956" class="widget-container widget-image-half-left--pink">
    <div class="widget-projector">
        <div class="rc-image-half-left">
            <div class="rc-image-half-left__image"><img
                    data-src="https://image.pobo.cz/images/cv6whszbhkfg/ua109two31u3m00reu88-md.jpeg"
                    class="lazyLoad rc-image-half-left__img loaded"
                    alt="[TEST - CUSTOM POBO WIDGETY] Passion Low sugar cookies Čokoládové kóma 70g" loading="lazy"
                    src="https://image.pobo.cz/images/cv6whszbhkfg/ua109two31u3m00reu88-md.jpeg"></div>
            <div class="rc-image-half-left__text">
                <h3>Čokoládové kóma</h3>
                <h2>Nech si učarovat&nbsp;naší nejčokoládovější <em>Low Sugar</em> Cookie</h2>
                <p>Plná chuť čokolády a ořechů na Tebe čeká společně s velkou dávkou proteinu. Naše
                    nejčokoládovější cookie vznikla ve spolupráci s fitness influencerkou <a href="http://@baru_jirik"
                        target="_blank" rel="noopener noreferrer">@baru_jirik</a>
                </p>
                <div class="inner-flex-container inner-flex-container--white">
                    <div class="iconbox"><img
                            data-src="https://cdn.myshoptet.com/usr/www.passionnutrition.cz/user/documents/img/detail_produktu/passion/lowsugar-koma/icon-high-protein.svg"
                            class="lazyLoad iconbox__icon loaded"
                            alt="[TEST - CUSTOM POBO WIDGETY] Passion Low sugar cookies Čokoládové kóma 70g"
                            loading="lazy"
                            src="https://cdn.myshoptet.com/usr/www.passionnutrition.cz/user/documents/img/detail_produktu/passion/lowsugar-koma/icon-high-protein.svg"><span
                            class="iconbox__value"> 14 g </span>
                        <h3 class="iconbox__title"> Velký podíl proteinu </h3>
                    </div>
                    <div class="iconbox"><img
                            data-src="https://cdn.myshoptet.com/usr/www.passionnutrition.cz/user/documents/img/detail_produktu/passion/lowsugar-koma/icon-low-sugar.svg"
                            class="lazyLoad iconbox__icon loaded"
                            alt="[TEST - CUSTOM POBO WIDGETY] Passion Low sugar cookies Čokoládové kóma 70g"
                            loading="lazy"
                            src="https://cdn.myshoptet.com/usr/www.passionnutrition.cz/user/documents/img/detail_produktu/passion/lowsugar-koma/icon-low-sugar.svg"><span
                            class="iconbox__value"> 1 g </span>
                        <h3 class="iconbox__title"> Minimum cukru </h3>
                    </div>
                    <div class="iconbox"><img
                            data-src="https://cdn.myshoptet.com/usr/www.passionnutrition.cz/user/documents/img/detail_produktu/passion/lowsugar-koma/icon-bez-lepku.svg"
                            class="lazyLoad iconbox__icon loaded"
                            alt="[TEST - CUSTOM POBO WIDGETY] Passion Low sugar cookies Čokoládové kóma 70g"
                            loading="lazy"
                            src="https://cdn.myshoptet.com/usr/www.passionnutrition.cz/user/documents/img/detail_produktu/passion/lowsugar-koma/icon-bez-lepku.svg"><span></span>
                        <h3 class="iconbox__title"> Bez lepku </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>