<div data-pobo-widget-id="221" data-pobo-unique-id="1869958"
    class="widget-container widget-advantages-three--light-pink">
    <div class="widget-projector">
            <div class="rc-advantages-three">
                <div class="rc-advantages-three__item">
                    <div class="rc-advantages-three__ico-container"><img
                            data-src="https://image.pobo.cz/images/cv6whszbhkfg/e1o7scb7mx5v8129c8lr-md.svg"
                            class="lazyLoad rc-advantages-three__ico-img loaded"
                            alt="[TEST - CUSTOM POBO WIDGETY] Passion Low sugar cookies Čokoládové kóma 70g"
                            loading="lazy" src="https://image.pobo.cz/images/cv6whszbhkfg/e1o7scb7mx5v8129c8lr-md.svg">
                    </div>
                    <div class="rc-advantages-three__info">
                        <h2 class="rc-advantages-three__info-header"> Velký podíl proteinu </h2><span
                            class="rc-advantages-three__info-text"> 14 g </span>
                    </div>
                </div>
                <div class="rc-advantages-three__item">
                    <div class="rc-advantages-three__ico-container"><img
                            data-src="https://image.pobo.cz/images/cv6whszbhkfg/4krqs4jn789t8gnds4zp-md.svg"
                            class="lazyLoad rc-advantages-three__ico-img loaded"
                            alt="[TEST - CUSTOM POBO WIDGETY] Passion Low sugar cookies Čokoládové kóma 70g"
                            loading="lazy" src="https://image.pobo.cz/images/cv6whszbhkfg/4krqs4jn789t8gnds4zp-md.svg">
                    </div>
                    <div class="rc-advantages-three__info">
                        <h2 class="rc-advantages-three__info-header"> Minimum cukru </h2><span
                            class="rc-advantages-three__info-text"> 1 g </span>
                    </div>
                </div>
                <div class="rc-advantages-three__item">
                    <div class="rc-advantages-three__ico-container"><img
                            data-src="https://image.pobo.cz/images/cv6whszbhkfg/51eqx4i1f0gnwfsc1sie-md.svg"
                            class="lazyLoad rc-advantages-three__ico-img loaded"
                            alt="[TEST - CUSTOM POBO WIDGETY] Passion Low sugar cookies Čokoládové kóma 70g"
                            loading="lazy" src="https://image.pobo.cz/images/cv6whszbhkfg/51eqx4i1f0gnwfsc1sie-md.svg">
                    </div>
                    <div class="rc-advantages-three__info">
                        <h2 class="rc-advantages-three__info-header"> Bez lepku </h2><span
                            class="rc-advantages-three__info-text"></span>
                    </div>
                </div>
            </div>
    </div>
</div>