<div data-pobo-widget-id="222" data-pobo-unique-id="1869957"
    class="widget-container widget-image-half-right--purple--has-gradient">
    <div class="widget-projector">
            <div class="rc-image-half-right">
                <div class="rc-image-half-right__text">
                    <h3>Chuť</h3>
                    <h2><em>Měkoučká</em><br>dobrota</h2>
                    <p>Vychutnej si naši parádní cookie<strong>, která snoubí kousky kakaových bobu a
                            čokolády spolu s křupavými kousky oříšků</strong> - to prostě chceš</p>
                    <div class="inner-flex-container">
                        <div class="iconbox"><img
                                data-src="https://cdn.myshoptet.com/usr/www.passionnutrition.cz/user/documents/img/detail_produktu/passion/lowsugar-koma/icon-chut-cokolada.svg"
                                class="lazyLoad iconbox__icon loaded"
                                alt="[TEST - CUSTOM POBO WIDGETY] Passion Low sugar cookies Čokoládové kóma 70g"
                                loading="lazy"
                                src="https://cdn.myshoptet.com/usr/www.passionnutrition.cz/user/documents/img/detail_produktu/passion/lowsugar-koma/icon-chut-cokolada.svg">
                            <h3 class="iconbox__title"> Plná čokoládová chuť </h3>
                        </div>
                        <div class="iconbox"><img
                                data-src="https://cdn.myshoptet.com/usr/www.passionnutrition.cz/user/documents/img/detail_produktu/passion/lowsugar-koma/icon-chut-vlacna.svg"
                                class="lazyLoad iconbox__icon loaded"
                                alt="[TEST - CUSTOM POBO WIDGETY] Passion Low sugar cookies Čokoládové kóma 70g"
                                loading="lazy"
                                src="https://cdn.myshoptet.com/usr/www.passionnutrition.cz/user/documents/img/detail_produktu/passion/lowsugar-koma/icon-chut-vlacna.svg">
                            <h3 class="iconbox__title"> Vláčnější textura </h3>
                        </div>
                        <div class="iconbox"><img
                                data-src="https://cdn.myshoptet.com/usr/www.passionnutrition.cz/user/documents/img/detail_produktu/passion/lowsugar-koma/icon-chut-krupe.svg"
                                class="lazyLoad iconbox__icon loaded"
                                alt="[TEST - CUSTOM POBO WIDGETY] Passion Low sugar cookies Čokoládové kóma 70g"
                                loading="lazy"
                                src="https://cdn.myshoptet.com/usr/www.passionnutrition.cz/user/documents/img/detail_produktu/passion/lowsugar-koma/icon-chut-krupe.svg">
                            <h3 class="iconbox__title"> Sem tam křupně oříšerk </h3>
                        </div>
                    </div>
                </div>
                <div class="rc-image-half-right__image"><img
                        data-src="https://image.pobo.cz/images/cv6whszbhkfg/99bh8w5uo5eqp9n5fa1e-md.jpeg"
                        class="lazyLoad rc-image-half-right__img loaded"
                        alt="[TEST - CUSTOM POBO WIDGETY] Passion Low sugar cookies Čokoládové kóma 70g" loading="lazy"
                        src="https://image.pobo.cz/images/cv6whszbhkfg/99bh8w5uo5eqp9n5fa1e-md.jpeg"></div>
            </div>

    </div>
</div>