            <div data-pobo-widget-id="8" data-pobo-unique-id="1821635" class="widget-container widget-image-half-left">
                <div class="widget-typography">
                    <div class="rc-image-half-left">
                        <div class="rc-image-half-left__image"><img
                                data-src="https://image.pobo.cz/images/cv6whszbhkfg/03k3kxssp9vmdcxn2n81-md.jpeg"
                                class="lazyLoad rc-image-half-left__img loaded"
                                alt="[TEST - EDITOVATELNÉ POBO] Passion Low sugar cookies Čokoládové kóma 70g"
                                loading="lazy"
                                src="https://image.pobo.cz/images/cv6whszbhkfg/03k3kxssp9vmdcxn2n81-md.jpeg"></div>
                        <div class="rc-image-half-left__text">
                            <h3 id="isPasted">Čokoládové kóma</h3>
                            <h2 id="isPasted">Nech si učarovat&nbsp;naší nejčokoládovější <strong>Low Sugar</strong>
                                Cookie</h2>
                            <p id="isPasted">Plná chuť čokolády a ořechů na Tebe čeká společně s velkou dávkou proteinu.
                                Naše nejčokoládovější cookie vznikla ve spolupráci s fitness influencerkou <a
                                    href="http://@baru_jirik" target="_blank" rel="noopener noreferrer">@baru_jirik</a>
                            </p>
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>