            <div data-pobo-widget-id="7" data-pobo-unique-id="1821671" class="widget-container widget-image-half-right">
                <div class="widget-typography">
                    <div class="rc-image-half-right">
                        <div class="rc-image-half-right__text">
                            <h3 id="isPasted">Chuť</h3>
                            <h2 id="isPasted">Měkoučká dobrota</h2>
                            <p id="isPasted">Vychutnej si naši parádní cookie<strong>, která snoubí kousky kakaových
                                    bobu a čokolády spolu s křupavými kousky oříšků</strong> - to prostě chceš</p>
                        </div>
                        <div class="rc-image-half-right__image"><img
                                data-src="https://image.pobo.cz/images/cv6whszbhkfg/99bh8w5uo5eqp9n5fa1e-md.jpeg"
                                class="lazyLoad rc-image-half-right__img loaded"
                                alt="[TEST - EDITOVATELNÉ POBO] Passion Low sugar cookies Čokoládové kóma 70g"
                                loading="lazy"
                                src="https://image.pobo.cz/images/cv6whszbhkfg/99bh8w5uo5eqp9n5fa1e-md.jpeg"></div>
                    </div>
                </div>
            </div>