            <div data-pobo-widget-id="74" data-pobo-unique-id="1821683" class="widget-container widget-jumbotron-one">
                <div class="widget-projector">
                    <div class="rc-jumbotron-one">
                        <div class="rc-jumbotron-one__wrap"><img
                                data-src="https://image.pobo.cz/images/cv6whszbhkfg/2steajncw0qzq818p6pb-md.jpeg"
                                class="lazyLoad rc-jumbotron-one__wrap-img loaded"
                                alt="[TEST - EDITOVATELNÉ POBO] Passion Low sugar cookies Čokoládové kóma 70g"
                                loading="lazy"
                                src="https://image.pobo.cz/images/cv6whszbhkfg/2steajncw0qzq818p6pb-md.jpeg">
                            <div class="rc-jumbotron-one__content">
                                <h2 class="rc-jumbotron-one__content-title"> Kakaové boby, čokoláda oříšky </h2><span
                                    class="rc-jumbotron-one__content-text"> Lískové ořechy a arašídy dodávají bohatou
                                    chuť, zdravé tuky a přirozenou křupavost
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>