<div id="widget-hlavni-ingredience" data-pobo-widget-id="74" data-pobo-unique-id="1813868"
    class="widget-container widget-jumbotron-one widget-container--grey widget-container--make-text-black">
    <div class="widget-projector">
        <div class="rc-jumbotron-one">
            <div class="rc-jumbotron-one__wrap"><img data-src="{{productImgDir}}/hlavni-ingredience.jpg"
                    class="lazyLoad rc-jumbotron-one__wrap-img loaded" alt="Test" loading="lazy"
                    src="{{productImgDir}}/hlavni-ingredience.jpg">
                <div class="rc-jumbotron-one__content">
                    <h3 class="preheading">Hlavní ingredience</h3>
                    <h2 class="rc-jumbotron-one__content-title">
                        Kakaové boby, čokoláda&nbsp;a&nbsp;oříšky
                    </h2>
                    <span class="rc-jumbotron-one__content-text">Lískové ořechy a arašídy dodávají bohatou
                        chuť, zdravé tuky a přirozenou křupavost</span>
                </div>
            </div>
        </div>
    </div>
</div>