            <div id="widget-stevie" data-pobo-widget-id="74" data-pobo-unique-id="1813868" class="widget-container 
                widget-jumbotron-one
                widget-container--half widget-container--grey 
                widget-container--make-text-black
                widget-jumbotron-one--text-half-right">
                <div class="widget-projector">
                    <div class="rc-jumbotron-one">
                        <div class="rc-jumbotron-one__wrap">
                            <img data-src="{{productImgDir}}/stevie.jpg"
                                class="lazyLoad rc-jumbotron-one__wrap-img loaded" alt="Test" loading="lazy"
                                src="{{productImgDir}}/stevie.jpg">
                            <div class="rc-jumbotron-one__content">
                                <h3 class="preheading">Stévie</h3>
                                <h2 class="rc-jumbotron-one__content-title">
                                    Sladké, ale bez cukru
                                </h2>
                                <span class="rc-jumbotron-one__content-text">
                                    Díky přírodnímu sladidlu z listů stévie, se vyhnete kaloriím a výkyvům cukru v krvi.
                                </span>
                                <a class="passion-button" href="">
                                    Přečíst více
                                    <span class="passion-button__chevron"
                                        style='background: url("{{productImgDir}}/icon-chevron.svg");'>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>