<div id="widget-idealni-svacinka" data-pobo-widget-id="8" data-pobo-unique-id="1816465" class="widget-container widget-image-half-left 
                    widget-image-half-left--mobile-img-full-height
                    widget-container--teal widget-container--has-gradient ">
    <div class="widget-typography">
        <div class="rc-image-half-left">
            <div class="rc-image-half-left__image">
                <img data-src="{{productImgDir}}/idealni-svacinka.jpg" class="lazyLoad rc-image-half-left__img loaded"
                    alt="Test" loading="lazy" src="{{productImgDir}}/idealni-svacinka.jpg">
            </div>
            <div class="rc-image-half-left__text">
                <h3>
                    Ideální svačinka
                </h3>
                <h2>
                    Svačinka pro každou situaci
                </h2>
                <p>
                    Ať už jsi na cestách, v práci, ve škole, na kole, túře nebo prostě nestíháš – naše
                    proteinová cookie bude vždy po ruce. Rychlá a chutná svačinka plná bílkovin!
                </p>
            </div>
        </div>
    </div>
</div>