<div id="widget-mini-cookies" data-pobo-widget-id="8" data-pobo-unique-id="1816465"
    class="widget-container widget-image-half-right widget-container--pink larger-text">
    <div class="widget-typography">
        <div class="rc-image-half-right">
            <div class="rc-image-half-right__text">
                <h3 class="preheading">
                    Vyzkoušejte také
                </h3>
                <h2 class="section-title script-image-wrapper"
                    style="background-image: url('{{productImgDir}}/text-lowsugar-minicookies.svg'); width: 100%; font-size: 50px; height: 2em;">
                    <span class="script-image-wrapper__text">
                        Low Sugar Mini Cookies
                    </span>
                </h2>
                <h3 class="preheading">
                    to nejlepší, ale v malém
                </h3>
                <a class="passion-button passion-button--white" href="">
                    Ochutnat!
                    <span class="passion-button__chevron"
                        style='background: url("{{productImgDir}}/icon-chevron.svg");'>
                    </span>
                </a>
            </div>
            <div class="rc-image-half-right__image">
                <img data-src="{{productImgDir}}/mini-cookies.jpg" class="lazyLoad rc-image-half-right__img loaded"
                    alt="Test" loading="lazy" src="{{productImgDir}}/mini-cookies.jpg">
            </div>
        </div>
    </div>
</div>